#!/bin/bash

# install required soft
yum install docker ecs-init aws-cli git mc -y

service docker start && sleep 10 && start ecs

# put instance into a cluster
echo ECS_CLUSTER=${ecs_cluster_name} > /etc/ecs/ecs.config
